{# app/Resources/views/espais/content.html.twig #}
{% extends '::base.html.twig' %}
    {% block head %}
        {{ parent() }}
    {% endblock %}
    {% block body %}
        {{ parent() }}
    <div class="content">
        <div id="titol">
            <h3>Llista d'espais</h3>
        </div>
        <div id="dades">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Localitzacio</th>
                    <th>Places Maximes</th>
                </tr>
                {% for espai in espais %}
                <tr>
                    <td>{{ espai.id }}</td>
                    <td>{{ espai.nom }}</td>
                    <td>{{ espai.localitzacio }}</td>
                    <td>{{ espai.placesMaximes }}</td>
                </tr>
            </div>
        </div>
        {% endfor %}
    </table>
{% endblock %}
