{# app/Resources/views/grups/content.html.twig #}
{% extends 'base.html.twig' %}
{% block head %}
        {{ parent() }}
    {% endblock %}
    {% block body %}
        {{ parent() }}
    <div class="content">
        <div id="titol">    
        <h3>Llista de Grups</h3>
        </div>
        <div id="dades">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Data Creacio</th>
                </tr>
            {% for grup in grups %}
                <tr>
                    <td>{{ grup.id }}</td>
                    <td>{{ grup.nom }}</td>
                    <td>{{ grup.dataCreacio.format('Y-m-d') }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}