body {
 font-family: helvetica, arial, sans-serif;
 background: #e3e3e3;
 text-align: center;
 background: url("../images/fondo.jpg") no-repeat;
 background-size:100%;
}
/* MENU */

#nav {
 background: #e5e5e5;
 position: relative;
 width: 100%;
 margin-left: 35%; padding: 0;
 border-bottom: none;
 z-index: 11;
}

#nav li a, #nav li {
 float: left;
}

#nav li {
 list-style: none;
 position: relative;
}

#nav li a {
 padding: 1em 1em;
 text-decoration: none;
 color: white;
 background: #292929;
 background: -moz-linear-gradient(top, black, #3c3c3c 1px, #292929 25px);
 background: -webkit-gradient(linear, left top, left 25, from(black), color-stop(4%, #3c3c3c), to(#292929));
 border-right: 1px solid #3c3c3c;
 border-left: 1px solid #292929;
 border-bottom: 1px solid #232323;
 border-top: 1px solid #545454;
}

#nav li a:hover {
 background: #2a0d65;
 background: -moz-linear-gradient(top, #11032e, #2a0d65);
 background: -webkit-gradient(linear, left top, left bottom, from(#11032e), to(#2a0d65));
}


/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

#nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
}

#nav li:hover > ul {
 display: block;
}

#nav li ul li, #nav li ul li a {
 float: none;
}

#nav li ul li a {
 width: 250%;
 display: block;
}
.content{
    float: left;
    background-color: none;
    width: 100%;
    color: white;
}
#menu{
    float: left;
    width: 100%;
}
#titol{
    background: url(../images/titol.png) no-repeat center;
    background-size: 50%;
    float: left;
    width: 100%;
    z-index: 2;
}
#titol h3{
    padding: 0.5em;
    font-size: 4em;
    color: white;
}
#dades{
    margin: 2em;
    position: relative;
    z-index: 2;
    display: inline-block;
    float:none;
    font-size: 1.2em;
}
table{
    border: solid 5px white;
    border-radius: 50px;
    padding: 15px;
}
tr:hover{
    background-color: red;
    color: black;
}

