{# app/Resources/views/entrades/content.html.twig #}
{% extends 'base.html.twig' %}
{% block head %}
        {{ parent() }}
    {% endblock %}
    {% block body %}
        {{ parent() }}
     <div class="content">
        <div id="titol">
            <h3>Llista d'entrades</h3>
        </div>
        <div id="dades">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Concert</th>
                    <th>Preu</th>
                </tr>
                {% for entrada in entrades %}
                <tr>
                    <td>{{ entrada.id }}</td>
                    <td>{{ entrada.nom }}</td>
                    <td>{{ entrada.idConcert.nom }}</td>
                    <td>{{ entrada.preu }}€</td>
                </tr>
            </div>
        </div>
        {% endfor %}
    </table>
{% endblock %}