<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('bundles/acmedemo/css/theme.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}
    <div id="menu">
        <ul id="nav">
            <li><a href="#">Grups</a>
                <ul>
                    <li><a href="{{ asset('app_dev.php/selectGrup') }}">Buscar Grup per Nom</a></li>
                    <li><a href="{{ asset('app_dev.php/selectAllGrups') }}">Buscar tots els Grups</a></li>
                    <li><a href="{{ asset('app_dev.php/selectAllGrupsOrderedByName') }}">Buscar Grups Ordenats per Nom</a></li>
                    <li><a href="{{ asset('app_dev.php/insertGrup') }}">Insertar Grup</a></li>
                    <li><a href="{{ asset('app_dev.php/deleteGrup') }}">Borrar Grup</a></li>
                    <li><a href="{{ asset('app_dev.php/updateGrup') }}">Editar Grup</a></li>
                </ul>
            </li>
            <li><a href="#">Espais</a>
                <ul>
                    <li><a href="{{ asset('app_dev.php/selectEspai') }}">Buscar Espai per Nom</a></li>
                    <li><a href="{{ asset('app_dev.php/selectAllEspais') }}">Buscar tots els Espais</a></li>
                    <li><a href="{{ asset('app_dev.php/selectAllEspaisOrderedByName') }}">Buscar Espais Ordenats per Nom</a></li>
                    <li><a href="{{ asset('app_dev.php/insertEspai') }}">Insertar Espai</a></li>
                    <li><a href="{{ asset('app_dev.php/deleteEspai') }}">Eliminar Espai</a></li>
                    <li><a href="{{ asset('app_dev.php/updateEspai') }}">Editar Espai</a></li>
                </ul>
            </li>
            <li><a href="#">Concerts</a>
                <ul>
                    <li><a href="{{ asset('app_dev.php/selectConcert') }}">Buscar Concert per Data</a></li>
                    <li><a href="{{ asset('app_dev.php/selectAllConcerts') }}">Buscar tots els Concerts</a></li>
                    <li><a href="{{ asset('app_dev.php/insertConcert') }}">Insertar Concert</a></li>
                    <li><a href="{{ asset('app_dev.php/deleteConcert') }}">Eliminar Concert</a></li>
                    <li><a href="{{ asset('app_dev.php/updateConcert') }}">Editar Concert</a></li>
                </ul>
            </li>
            <li><a href="#">Entrades</a>
                <ul>
                    <li><a href="{{ asset('app_dev.php/selectEntrada') }}">Buscar Entrada per Nom</a></li>
                    <li><a href="{{ asset('app_dev.php/selectAllEntrades') }}">Buscar totes les Entrades</a></li>
                    <li><a href="{{ asset('app_dev.php/insertEntrada') }}">Insertar Entrada</a></li>
                    <li><a href="{{ asset('app_dev.php/deleteEntrada') }}">Eliminar Entrada</a></li>
                    <li><a href="{{ asset('app_dev.php/updateEntrada') }}">Editar Entrada</a></li>
                </ul>
            </li>
        </ul>
    </div>
    {% endblock %}
    </body>
</html>
