{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
<div class="content">
    <div id="titol"> 
    <h3>{{title}}</h3>
    </div>
    <div id="dades">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}