{# app/Resources/views/default/form.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    {{ parent() }}
<div class="content">
    <div id="dades">
    {{ missatge }}
    </div>
</div>
{% endblock %}