{# app/Resources/views/concerts/content.html.twig #}
{% extends 'base.html.twig' %}
{% block head %}
        {{ parent() }}
    {% endblock %}
    {% block body %}
        {{ parent() }}
    <div class="content">
        <div id="titol">
            <h3>Llista Concerts</h3>
        </div>
        <div id="dades">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Grup</th>
                    <th>Data</th>
                    <th>Espai</th>
                </tr>
            {% for concert in concerts %}
                <tr>
                    <td>{{ concert.id }}</td>
                    <td>{{ concert.nom }}</td>
                    <td>{{ concert.idGrup.nom }}</td>
                    <td>{{ concert.data.format('Y-m-d') }}</td>
                    <td>{{ concert.idEspai.nom }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}